/* Kutular Sabit Genişlikte */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Kutu Genişlikleri */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Satırlar */
.row{
    /* border: blue solid 2px; */
    background-color: cornflowerblue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Satırlar Yan Yana Gelmesin */
.row::after{
    content: "";
    clear: both;
    display: table;
}

/* Tepkisel Resim */
img{
    width: 100%;
    height: auto;

}

/* Col-Yasla */
[class*="col-"]{
    float: left;
    padding: 5px;
    /* border: 1px solid greenyellow; */
    border-radius: 8px;
    background-color: cornsilk;
}

/* 500px den daha küçük Ekranlar için */
@media screen and (max-width:500px) {
    [class*="col-"]{
        width: 100%;
    }
}

/* Kutu Yükseklikleri */
#ust{min-height: 50px;}
#menu{min-height:50px;}
#orta{min-height:400px;}
#alt{min-height:50px;}

/* Sosyal Medya İkonları */
#ikon{
    width: 250px;
    float: right;
    margin-right: 10px;
}

/* anamenü */
#menu #anamenu ul{
    list-style-type: none;
}
#menu #anamenu ul li{
    border: 1px solid blue;
    width: 25%;
    float: left;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
    text-align: center; 
}

/* 500px den daha küçük Ekranlar için Tepkisel Buton */
@media screen and (max-width:500px) {
    #menu #anamenu ul li{
        width: 100%;
    }
}

/* Anamenü Linkleri */
#menu #anamenu a{
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

#menu #anamenu a:hover{
    color: blue;
    text-decoration: underline;
}
#menu #anamenu a:active,a:visited{
    color: blueviolet;
}

/* Alt Menü */
#alt #altmenu p{
    text-align: center;
}